<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 유저가 입력할 수 있는 공간 -->
    <!-- get : url에 노출, -->
    <form action="/login" method="get"> <!-- action : 어느 주소로 보낼지, method : 데이터 보내는 방식(get, post) -->
        <input type="text" name="input_id">
        <br>
        <input type="text" name="_password">
        <br>
        <input type="submit">
    </form>
    <form action="/login2" method="post"> <!-- action : 어느 주소로 보낼지, method : 데이터 보내는 방식(get, post) -->
        <input type="text" name="input_id">
        <br>
        <input type="text" name="input_password">
        <br>
        <input type="submit">
    </form>
</body>
</html>